#IMPsidebar {
  position: absolute;
  width: 30vw;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#IMPsidebar button {
  display: none;
  width: 32px;
  height: 32px;
  appearance: none;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #888;
  color: white;
  position: absolute;
  top: 0px;
  right: -32px;
  padding: 4px;
}

#IMPsidebar button svg {
  display: block;
}

main#pageMain {
  padding-left: calc(30vw + 2rem);
}

footer#pageFooter {
  clear: both;
}

@media (max-width: 700px) {
  #IMPsidebar.js-enabled {
    position: absolute;
    width: 100%;
    left: -100%;
    transition: all 0.2s;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  #IMPsidebar {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 1rem;
    border-radius: 4px;
  }

  #IMPsidebar.expanded {
    left: 0;
  }

  #IMPsidebar.expanded button {
    right: 0;
    border-radius: 0 0 0 6px;
  }

  #IMPsidebar.expanded button svg {
    transform: scale(-1, 1);
  }

  main#pageMain {
    float: none !important;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #IMPsidebar.js-enabled button {
    display: block;
  }
}
