body>nav#IMPnavbar {
  box-sizing: border-box;
  width: 100%;
  background-color: silver;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #444;
  color: #eee;
  margin-top: -1px;
}

body>nav#IMPnavbar a,
body>nav#IMPnavbar a:focus,
body>nav#IMPnavbar a:hover,
body>nav#IMPnavbar a:active,
body>nav#IMPnavbar a:visited {
  display: inline-block;
  margin-right: 2em;
  color: #ddd;
  text-decoration: none !important;
  background: none !important;
  box-shadow: none;
}

body>nav#IMPnavbar a:hover {
  color: white;
}

body>nav#IMPnavbar .navlogo {
  display: inline-block;
  margin-right: 2em;
}

body>nav#IMPnavbar a:last-child {
  margin-right: 0;
}
